.navbar
  .navbar-inner
    .container
      %a.brand{href: '#'} Rates

      %ul.nav
        %li
          %a#refresh{href: '#'} Refresh

      %form{class: "navbar-search pull-left"}
        %input{type: "text", class: "search-query", placeholder: "Search"}
